<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rover Cameras</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 100vh;
            gap: 5px;
        }
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid #ddd;
            padding: 0;
            overflow: hidden;
        }
        img {
            width: 80%;
            height: auto;
            max-height: 95%;
            object-fit: contain;
            border-radius: 10px;
        }
        .controls {
            display: flex;
            flex-direction: column;
            margin-right: 5px;
        }
        .servo-control { margin: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }
        button {
            padding: 8px 12px;
            border: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: #0056b3;
        }
        select {
            padding: 5px;
            margin-top: 10px;
        }
        @media (max-width: 800px) {
            body {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                height: auto;
            }
            .container {
                flex-direction: column;
            }
            img {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="controls">
            <button onclick="captureFrame('video1')">Photo</button>
            <select onchange="changeFps('fps1')" id="select1">
                <option>1080p</option>
                <option>720p</option>
                <option>480p</option>
            </select>
            <select onchange="changeFps('fps1')" id="fps1">
                <option>30</option>
                <option>20</option>
                <option>15</option>
                <option>10</option>
            </select>
        </div>
        <div class="servo-control">
            <h3>Servo 1-1</h3>
            <input type="range" min="0" max="180" value="90" id="servo11-slider">
            <span id="servo11-angle">90°</span>
            <button onclick="adjustServo('1', document.getElementById('servo11-slider').value)">
                Ayarı Gönder
            </button>
            <h3>Servo 1-2</h3>
            <input type="range" min="0" max="180" value="90" id="servo12-slider">
            <span id="servo12-angle">90°</span>
            <button onclick="adjustServo('2', document.getElementById('servo12-slider').value)">
                Ayarı Gönder
            </button>
        </div>
        <img  src="http://10.42.0.16:5000/video_feed" alt="Image 1" id="video1" crossorigin="anonymous">
    </div>

    <div class="container">
        <div class="controls">
            <button onclick="captureFrame('video2')">Photo</button>
            <select onchange="changeFps('fps2')" id="select2">
                <option>1080p</option>
                <option>720p</option>
                <option>480p</option>
            </select>
            <select onchange="changeFps('fps2')" id="fps2">
                <option>30</option>
                <option>20</option>
                <option>15</option>
                <option>10</option>
            </select>
        </div>
        <div class="servo-control">
            <h3>Servo 2-1</h3>
            <input type="range" min="0" max="180" value="90" id="servo21-slider">
            <span id="servo21-angle">90°</span>
            <button onclick="adjustServo('1', document.getElementById('servo21-slider').value)">
                Ayarı Gönder
            </button>
            <h3>Servo 2-2</h3>
            <input type="range" min="0" max="180" value="90" id="servo22-slider">
            <span id="servo22-angle">90°</span>
            <button onclick="adjustServo('2', document.getElementById('servo22-slider').value)">
                Ayarı Gönder
            </button>
        </div>
        <img src="http://10.42.0.16:8000/stream.mjpg" alt="Image 2" id="video2" crossorigin="anonymous">
    </div>

    <div class="container">
        <div class="controls">
            <button onclick="captureFrame('video3')">Photo</button>
            <select onchange="changeFps('fps3')" id="select3">
                <option>1080p</option>
                <option>720p</option>
                <option>480p</option>
            </select>
            <select onchange="changeFps('fps3')" id="fps3">
                <option>30</option>
                <option>20</option>
                <option>15</option>
                <option>10</option>
            </select>
        </div>
        <div class="servo-control">
            <h3>Servo 3-1</h3>
            <input type="range" min="0" max="180" value="90" id="servo31-slider">
            <span id="servo31-angle">90°</span>
            <button onclick="adjustServo('1', document.getElementById('servo31-slider').value)">
                Ayarı Gönder
            </button>
            <h3>Servo 3-2</h3>
            <input type="range" min="0" max="180" value="90" id="servo32-slider">
            <span id="servo32-angle">90°</span>
            <button onclick="adjustServo('2', document.getElementById('servo32-slider').value)">
                Ayarı Gönder
            </button>
        </div>
        <img src="{{ video3_url }}/stream.mjpg" alt="Image 3" id="video3" crossorigin="anonymous">
    </div>

    <div class="container">
        <div class="controls">
            <button onclick="captureFrame('video4')">Photo</button>
            <select onchange="changeFps('fps4')" id="select4">
                <option>1080p</option>
                <option>720p</option>
                <option>480p</option>
            </select>
            <select onchange="changeFps('fps4')" id="fps4">
                <option>30</option>
                <option>20</option>
                <option>15</option>
                <option>10</option>
            </select>
        </div>
        <div class="servo-control">
            <h3>Servo 4-1</h3>
            <input type="range" min="0" max="180" value="90" id="servo41-slider">
            <span id="servo41-angle">90°</span>
            <button onclick="adjustServo('1', document.getElementById('servo41-slider').value)">
                Ayarı Gönder
            </button>
            <h3>Servo 4-2</h3>
            <input type="range" min="0" max="180" value="90" id="servo42-slider">
            <span id="servo42-angle">90°</span>
            <button onclick="adjustServo('2', document.getElementById('servo42-slider').value)">
                Ayarı Gönder
            </button>
        </div>
        <img src="{{ video4_url }}/video_feed" alt="Image 4" id="video4" crossorigin="anonymous">
    </div>

    <script>

        document.getElementById('servo11-slider').addEventListener('input', function() {
            document.getElementById('servo11-angle').textContent = this.value + '°';
        });
        document.getElementById('servo12-slider').addEventListener('input', function() {
            document.getElementById('servo12-angle').textContent = this.value + '°';
        });

        document.getElementById('servo21-slider').addEventListener('input', function() {
            document.getElementById('servo21-angle').textContent = this.value + '°';
        });
        document.getElementById('servo22-slider').addEventListener('input', function() {
            document.getElementById('servo22-angle').textContent = this.value + '°';
        });

        document.getElementById('servo31-slider').addEventListener('input', function() {
            document.getElementById('servo31-angle').textContent = this.value + '°';
        });
        document.getElementById('servo32-slider').addEventListener('input', function() {
            document.getElementById('servo32-angle').textContent = this.value + '°';
        });
        document.getElementById('servo41-slider').addEventListener('input', function() {
            document.getElementById('servo41-angle').textContent = this.value + '°';
        });
        document.getElementById('servo42-slider').addEventListener('input', function() {
            document.getElementById('servo42-angle').textContent = this.value + '°';
        });


        // Servo kontrol fonksiyonu
        function adjustServo(servoId, angle) {
            fetch('http://10.42.0.1:8000/servo_control', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ servo_id: servoId, angle: parseInt(angle) })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log(`Servo ${servoId} → ${angle}°`);
                } else {
                    alert(`HATA: ${data.error}`);
                }
            })
            .catch(error => {
                console.error("İstek hatası:", error);
                alert("Sunucuya bağlanılamadı!");
            });
        }

        function captureFrame(videoId) {
            const img = document.getElementById(videoId);
            const canvas = document.createElement('canvas');
            canvas.width = img.width;
            canvas.height = img.height;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            console.log(canvas)
            const dataURL = canvas.toDataURL('image/jpeg');

            fetch('/save-frame', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ image_data: dataURL })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(`${videoId} - Fotoğraf başarıyla kaydedildi!`);
                } else {
                    alert(`${videoId} - Hata: ${data.error}`);
                }
            })
            .catch(error => {
                console.error(`${videoId} - Error:`, error);
            });
        }

        function changeFps(selectid) {
            const selec = document.getElementById(selectid);
            value = selec.value
            if (selectid.includes("1")){resol = document.getElementById("select1").value} 
            else if (selectid.includes("2")){resol = document.getElementById("select2").value}
            else if (selectid.includes("3")){resol = document.getElementById("select3").value}
            else{resol = document.getElementById("select4").value}
            
            if (selectid.includes("1")){url = "http://10.42.0.16:5000";console.log(url)} 
            else if (selectid.includes("2")){url = "http://10.42.0.16:8000";console.log(url)}
            else if (selectid.includes("3")){url = "{{ video3_url }}";console.log(url)}
            else{url = "{{ video4_url }}";console.log(url)}

            fetch(url+'/change_fps', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ fpsValue: value, resolution: resol })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(`${videoId} - Fotoğraf başarıyla kaydedildi!`);
                } else {
                    alert(`${videoId} - Hata: ${data.error}`);
                }
            })
            .catch(error => {
                console.error(`${videoId} - Error:`, error);
            });
        }
    </script>

</body>
</html>
